<% if logged_in? %>
<h1>Rob Detail Screen </h1>

<% unless @robs.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Cancel favorites', favorite_path(@robs.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'To favorite', favorites_path(rob_id: @robs.id), method: :post, class: 'btn btn-prymary' %>
  <% end %>
<% end %>

<p id="notice"><%= notice %></p>
<p>Title: <%= @robs.title %></p>
<p>Contents: <%= @robs.content %></p>
 <% end %>

<h2>Not signed in?</h2>
<%= link_to 'Sign in', sessions_path %>
<h2>You are new here</h2>
<%= link_to 'Sign up', new_user_path %>